<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/CSS/Style.css">

    <link rel="icon" type="image/png" sizes="16x16"  href="/IMG/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <title>VprogreSS</title>
</head>
<body>
    <header>
        <div id="barraInicial">
            <div class="logo">
                <img src="/IMG/Logo2.png" alt="logo Vprogress">
            </div>
            
            <div class="menu">
                <a href="#somos">Somos</a>
                <a href="#team">Team</a>
                <a href="#footer">Contactanos</a>
                <a id="Plataforma" href="/plataforma.html">Plataforma</a>
                <a id="Login" href="/Login.html">Ingresa</a>
            </div>
        </div>
        
        <div class="banner">
            <h2>Bienvenido a nuestro mundo</h2>
        </div>
        
    </header>

    <div class="container">
        <div id="somos">
            <div class="titulo-derecho">
                <h2>Somos</h2>
            </div>
            <div class="somos-img-p">
                <img src="/IMG/Recurso 12.png" alt="Imagen de una empresa">
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore molestiae voluptates sequi, cum exercitationem natus, explicabo quasi dolorum necessitatibus eaque ullam quos ipsum ad animi modi harum eum commodi distinctio.</p>

            </div>
        </div>
        
        <div id="team">
            <div class="titulo-izquierdo">
                <h2>Team</h2>
            </div>
            
            <div id="ImagenEscogida">
                <img id="Imagen" src="/IMG/Nelson2.png" alt="Imagen a la cual le diste click">
                <p id="Texto">HOLA!
                    <br>
                    Soy Nelson
                    <br>
                    Mi rol es diseñador de software
                    <br>
                    Me gusta </p>
            </div>
            
            <div id="imagenes">
                <img src="/IMG/Nelson.png" alt="0">
                <img src="/IMG/Sebastian.png" alt="1">
                <img src="/IMG/Felipe.png" alt="2">
                <img src="/IMG/Manuela.png" alt="3">
                <img src="" alt="4">
                <img src="" alt="5">
            </div>
        </div>
    </div>
    
    <footer>
        <h2>Cuentanos</h2>
        <p>En que te podemos ayudar</p>
        
        <form action="">
            <input type="text" id="Nombre" name="firstname" placeholder="Nombre">

            <input type="email" id="E-mail" name="E-mail" placeholder="E-mail">

            <textarea id="Mensaje" placeholder ="Tu mensaje"></textarea> 

            <button type="submit" value="Submit">
                Enviar
            </button>
        </form>
        
        <div class="copyright">
            <h2>@Copyright</h2>
            
            <div class="iconos">
                <img src="/IMG/Twiter.png" alt="logo twiter">
                <img src="/IMG/Instagram.png" alt="logo instagram">
                <img src="/IMG/Telefono.png" alt="logo telefono">
            </div>
        </div>
    </footer>
    
    <script src="/JS/Js.js"></script>
    <script src="/JS/bd.js.JS"></script>
</body>
</html>