<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="16x16"  href="/IMG/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/CSS/StyleNuevoSuperadministrador.css">
    <title>Nuevo Empleados</title>
</head>
<body>
    <header>
        <div id="Barra">
            <div>
                <img src="/IMG/Logo2.png" alt="Logo">
            </div>
    
            <div>
                <img src="/IMG/Perfil.png" alt="IconoCirculo">
                <img id="Flecha" src="/IMG/Flecha.png" alt="IconoFlecha">
            </div>
        </div>
    </header>

    <section class="container">
        <h1>
            Ingresos y egresos
        </h1>


        <form id="Nuevo" action="">
            <input type="number" id="Monto" name="Monto" placeholder="Monto">

            <input type="number" id="Egresos" name="Egresos" placeholder="Egresos">

            <button type="submit" value="Submit">
                Agregar
            </button>
        </form> 
    </section>
</body>
</html>