@font-face {
    font-family: Made Tommy-Black;
    src: url(/MADE\ TOMMY\ Black_PERSONAL\ USE.otf);
}

@font-face {
    font-family: Made Tommy-Thin;
    src: url(/MADE\ TOMMY\ Thin_PERSONAL\ USE.otf);
}

h1, h2, h3, h4, h5, h6{
    font-family: Made Tommy-Black;
    color: #4E14A8;
}

p{
    font-family: Made Tommy-Thin;
}

*{
    margin: 0px;
}

body{
    background-color: #ffffff;
}

#Barra{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #86868720;
    padding: 15px 50px;
}

.container{
    max-width: 1200px;
    margin: auto;
}

h1{
    margin: 50px 0px;
}

#Flecha{
    cursor: pointer;
}

form{
    display: grid;
    width: 500px;
    margin: auto;
}

input{
    background-color: #4E14A820;
    border: 0px;
    font-family: Made Tommy-Black;
    margin: 8px;
}

button{
    background-color: #4E14A850;
    color: white;
    border: 0px;
    font-family: Made Tommy-Black;
    width: 200px;
    margin: 8px auto;
}

input, button{
    font-size: 20px;
    padding: 10px;
}